*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-family: 'montserrat', sans-serif;
}
.container{
    width: 420px;
    height: 530px;
    padding: 25px;
    background: #f3f4f7;
    border-radius: .5rem;
    box-shadow: - .3rem .5rem rgba(0,0,0,.3);
}

.container h1{
    padding: 20px 0;color: #090909;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.text-field{
    height: 230px;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: 1px solid #52565e;
    font-size: 16px;
    font-weight:  400;
    outline: none;
    resize: none;
}
 
.copy-btn{
    border: 2px solid skyblue;
    background: skyblue;
    padding: 10px 20px;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}
.copy-btn i{
    padding-left: 10px;
    color: #fff;
}
.copy-btn:active{
    transform: scale(.98);
}
span.copied{
    display: block;
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
    color: #777;
    transform: scale(0);
    transition: all .5s;
}
span.bounce-effect{
    animation: bounceIn .8s linear;
}

@keyframes bounceIn{
    0%{
        opacity: 0;
        transform: scale(0.3);
    }
    20%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(0.9);
    }
    60%{
        opacity: 1;
        transform: scale(1.03);
    }
    80%{
        transform: scale(0.97);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}