*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body{
    background: #fff;
    margin: 20px;
}
.top{
    text-align: right;
    width: 80%;
}
.top button{
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 6px 20px;
    font-size: 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 2px solid #000;
    transition: .4s;
}
.top button i{
    margin-left: 10px;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container .row{
    width: 80%;
}
.container h2{
    text-align: center;
    margin-bottom: 20px;
}
.container p{
    text-align: justify;
}
body.change-bg{
    background: #000;
    color: #fff;
}